* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.container {
    background-color: #6b107e;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
}
.form-campo {
    margin-bottom: 10px;
}
.form-campo label {
    font-weight: bold;
    display: block;
}
.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}
form {
    max-width: 95%;
    color: #fff;
}

label {
    margin-bottom: 5px;
    text-align: center;
}
button {
    display: block;
    width: 400px;
    padding: 8px 0;
    margin-top: 20px;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}